body{
	background-color: darkgrey;

	margin: 0px;
}

header{

	background-color: black;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	padding: 10px;
}


input.longs{
	width: 300px;
	padding: 2px;
	margin: 5px;
}

.shorts, select#material{
	width: 143px;
	padding: 2px;
	margin: 5px;
}

.changes{
	background-color: darkgrey;
	border: 3px solid black;
	border-radius: 5px;
}


div#outpt{
	text-align: center;
	color: black;
	margin: 75px auto 0px auto;
	font-size: 50px;
}

div#main{
	border-radius: 10px;
	border: 6px solid black;
	width: 375px;
	height: 350px;
	padding: 25px;
	margin: 50px auto;
}


input:disabled{
	background-color: black;
	color: black;
}

/*		NARROW LOOK		*/

@media only screen and (max-width: 750px) {
	div#main{
		border: none;
	}

	input.longs, .shorts{
		width:250px;
		margin: 15px;
		padding: 15px;
		border-radius: 50px;
		font-size: 20px;
		
	}

	div#outpt{
		margin-top: 20px;
		font-size: 40px;
	}

	header{
		width: 100%;
	}

	select#material{
		width:286px;
		margin: 15px;
		padding: 15px;
		border-radius: 50px;
		font-size: 20px;
	}

}